html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrap{
  height: 100%;
  background: #FFFFFF;
  font-family: Roboto;
}
.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  width:100%
}
.header{
  background: #07569A;
  color: #FFFFFF;
}
.header__body{
  height: 66px;
  min-width: 900px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.header__body__logo-block{
  width:234px;
  box-sizing: border-box;
  border-right:1px solid white;
  border-left:1px solid white;
}
.header__body__logo-block__logo{
  margin: auto;
  width: 130px;
  height: 46px;
  margin: 10px 51px;
}
.header__body__bag{
  display: flex;
  border-left: 1px solid white;
  align-items: center;
}
.header__body__bag__img{
  background: url(../images/cart.svg);
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0 10px;
}
.header__body__bag__text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__body__bag__text p{
  margin: 0;
  display: flex;
  align-items: center;
}
.header__body__bag__img__cost{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.header__body__bag__img__item-count{
  font-size: 14px;
  line-height: 20px;
}
.content{
  display: flex;
  height: 100%;
  min-width: 900px;
  max-width: 1440px;
  margin: auto;
  padding-bottom: 70px;
  border-bottom: 1px solid #D4D4D4;
}
.content__menu{
  background: #E5E4E5;
  height: 100%;
  width: 234px;
}
.content__menu__list{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.content__menu__list li{
  list-style-type: none;
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
}
.content__body{
  padding: 30px 20px;
}
.content__body__path-tree{
  display: flex;
  font-size: 14px;
  padding: 0;
}
.content__body__path-tree__level{
  list-style-type: none;
  line-height: 20px;
  color: #3072C4;
}
.content__body__title{
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin: 30px 0 0 0;
}
.content__body__path-tree__level__ref:hover{
  text-decoration: underline;
}
.current .content__body__path-tree__level__ref:hover{
  text-decoration: none;
}
.content__body__path-tree__level ::after{
  content: '›';
  color:black;
  margin: 0 4px;
}
.current{
  color: #333333;
}
.current ::after{
  content: '';
}
.content__body__items{
  display: flex;
  flex-flow: wrap;
  padding: 30px;
}
.content__body__item{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}
.content__body__item__main__ref{
  display: block;
}
.content__body__item__buuton{
  border: 0;
  width: 120px;
  height: 42px;
  background: #07569A;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__body__item__buuton__img{
  background: url(../images/cart.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
}